<%= turbo_frame_tag 'new_record_component' do%>
    <div class="flex w-full items-center">
        <%= form_with(model: book, class:'flex w-full items-center gap-2') do |f|%>
            
            <% if book.errors.any? %>
                <% book.errors.each do |error|%>
                    <span class="text-white"><%=error.full_message%></span>
                <%end%>
            <% end %>
            
            <div class='flex items-center gap-2'>
                <%= f.label :name, class: 'font-semibold text-white' %>
                <%= f.text_field :name, class:'font-semibold rounded p-2 text-xs' %>
            </div>

             <div class='flex items-center gap-2'>
                <%= f.label :price, class: 'font-semibold text-white' %>
                <%= f.number_field :price, in:1.0..100.0,step: :any, class:'font-semibold rounded p-2 text-xs' %>
            </div>
            <div class="flex items-center justify-end gap-2 ml-5">
                <%= f.submit class:'font-semibold p-2 bg-sky-600 text-sm text-white rounded' %>  
                <%= link_to 'Cancel', :back, class:'font-semibold p-2 bg-red-600 text-sm text-white rounded'%>
            </div1>
        <%end%>
    </div>
<%end%>   