<div data-controller="book" data-book-sells="<%=latest_sells(book.id)%>" book-id="<%=book.id%>" class="text-white" id="book_<%= book.id%>">
<canvas id="book_chart_<%= book.id %>" style="width:100%;max-width:700px"></canvas>


<%= latest_sells(6)%>
</div>